<section id="home">
    <div class="home-1">

            <div class="right-tile">
                <div class="right-tile-content"><h4>Whatever you transport, we got you.<br> Small or large. </h4>
                    <div class="explore"><span class="explore-service">Checkout Our Services<br><i class="fa fa-angle-double-down" aria-hidden="true"></i></span><span class="explore-explore">Explore More<br><i class="fa fa-angle-double-down" aria-hidden="true"></i></span></div> 
            </div>  
                        
            </div>
            <div class="left-tile">
                <div class="left-tile-content">
                    
                    <div class="left-upper">
                        <h4 class="brand-f">BEYOND</h4>&nbsp;
                          <h4 class="brand-l">SERVICE</h4>
                      </div>
                 <div class="left-bottom">
                      <h4 class="ml3">TRUST</h4>&nbsp;
                        <h4 class="ml4"> TRANSPARANCY</h4>
                    </div>
            </div>
    </div>
    <div class="about">
    <div class="about-left-title"><div class="founders-image"><img src="/assets/george.jpg" class="george"><img src="/assets/jaijin.jpg"></div>
        <div class="founder-message">We are the founders of Beyond Service and we started this venture to provide you the best service with affordable priceWe are the founders of Beyond Service and we started this venture to provide you the best service with affordable price</div>
    </div>
        <div class="about-right-title"></div>
    </div>
    <div class="contact">
        <h3>We are here to help you</h3>
        <div class="contact-upper">
<div class="b1 email">Email Us &nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></div><div class="b1 phone">Phone Us &nbsp;<i class="fa fa-phone-square" aria-hidden="true"></i></div><div class="b1 address">Home Address </div>
        </div>
        <div class="contact-lower">
            <div class="b2 fb">Facebook&nbsp;<i class="fa fa-facebook-square" aria-hidden="true"></i></div><div class="b2 insta">Instagram &nbsp;<i class="fa fa-instagram" aria-hidden="true"></i></div><div class="b2 chat">Start a Live Chat</div>
        </div>
    </div>
</section>