<section id="home">
    <div class="home-1">

            <div class="right-tile">
                <div class="right-tile-content"><h4>Whatever you transport <br> Whatever you want to be clean, we got you.<br> Small or large. </h4>
                    <div class="explore"><span class="explore-explore">Explore More<br><i class="fa fa-angle-double-down" aria-hidden="true"></i></span></div> 
            </div>  
                        
            </div>
            <div class="left-tile">
                <div class="left-tile-content">
                    
                    <div class="left-upper">
                        <h4 class="brand-f">Cros</h4>
                          <h4 class="brand-l">nat</h4>
                      </div>
                 <div class="left-bottom">
                      <h4 class="ml3">TRUST</h4>&nbsp;
                        <h4 class="ml4"> TRANSPARANCY</h4>
                    </div>
            </div>
    </div>
    <div id="about-section" class="about">
    <div class="about-left-title"><div class="founders-image"><img src="/assets/george.jpg" class="george"><img src="/assets/jaijin.jpg"></div>
        <div class="founder-message">We are the founders of Crosnat and we started this venture to provide you the best service with affordable price</div>
    </div>
        <div class="about-right-title"></div>
    </div>
    <div  id="contact-section" class="contact">
        <h3>We are here to help you</h3>
        <div class="contact-upper">
        <a href="mailto: george.geordy@crosnat.com" class="b1 email">Email Us &nbsp;<i class="fa fa-envelope" aria-hidden="true"></i><br><span>george.geordy@crosnat.com</span></a>
        <a class="b1 phone">Phone Us &nbsp;<i class="fa fa-phone-square" aria-hidden="true"></i><br><span>+46727850126</span></a>
        </div>
        <div class="contact-lower">
            <a class="b2 fb" href="https://www.facebook.com/crosnat/">Facebook&nbsp;<i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/cros_nat/" class="b2 insta">Instagram &nbsp;<i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6128c60b649e0a0a5cd33b2d/1fe3kb7fo';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script>
    <!--End of Tawk.to Script-->